body {
    margin: 0;
}

.signature{
 color: #a3dc32;
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;  
}

.flex-row {
  /* Review this! https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Check bootstrap docs! https://getbootstrap.com/docs/4.5/components */
.container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.contact{
 text-align: left;
 color: #FFFFFF;
 font: light 22px/28px;
 letter-spacing: 0px;
}

.title {
 text-align: left;
 color: #FFFFFF;
 font: bold 48px/60px;
 letter-spacing: 0px;
 opacity: 1;
}

.hero-image {
/*    https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html*/
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url(css/img/cold-conifers-dawn-2869530.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    /* Review this! */
    display: flex;
    align-items: center;
}

.hero-text {
 text-align: left;
 color: #FFFFFF;
 font: bold 39px/91px;
 letter-spacing: 0px;
}
